<h1>Control Menu - "Project Name"</h1>
<mat-progress-bar class="progress" mode="determinate" value="60"></mat-progress-bar>
<mat-grid-list cols="2" rowHeight="70px" gutterSize="40">
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Task 1</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Manager</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Task 2</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Manager</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Task 3</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Manager</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Task 4</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="title">
      <mat-card-title>Manager</mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button class="final" mat-raised-button color="black" routerLink="/projectProgress">BACK</button>
