<h1>Projects Ongoing</h1>
<div class="box">
  <div>
    <mat-card class="project-card">
      <mat-card-header>
        <mat-card-title>Project 1 Name</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="control-menu">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="project-card">

      <mat-card-header>
        <mat-card-title>Project 2 Name</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="control-menu">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <mat-card class="project-card">

      <mat-card-header>
        <mat-card-title>Project 3 Name</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="control-menu">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div id="back">
  <button mat-raised-button routerLink="/Home">Back</button>
</div>
