<h1>Projects in Progress</h1>
<mat-grid-list cols="3" rowHeight="500px" gutterSize="10">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Project 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Small Place
        </p>
      </mat-card-content>
      <img mat-card-image src="https://th.bing.com/th/id/OIP.axQ9WpnpbJ1fkxWF8mEZlgHaEv?pid=ImgDet&rs=1" alt="">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Project 2</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Small Place
        </p>
      </mat-card-content>
      <img mat-card-image src="https://th.bing.com/th/id/OIP.axQ9WpnpbJ1fkxWF8mEZlgHaEv?pid=ImgDet&rs=1" alt="">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Project 3</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Small Place
        </p>
      </mat-card-content>
      <img mat-card-image src="https://th.bing.com/th/id/OIP.axQ9WpnpbJ1fkxWF8mEZlgHaEv?pid=ImgDet&rs=1" alt="">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="50px" gutterSize="50">
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/controlMenu">TO SELECT</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/controlMenu">TO SELECT</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/controlMenu">TO SELECT</button>
  </mat-grid-tile>
</mat-grid-list>
<button class="final" mat-raised-button color="black" routerLink="/searchContractor" routerLinkActive="active">BACK</button>
