<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <img src="assets/logo.jfif">
  <mat-card fxFlex="25">
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Log In</button>
    </form>
    <a></a>
  </mat-card>
</div>
