<h1 align="center">Finalized - "Project Name"</h1>
<mat-card>
  <mat-progress-bar color="primary" mode="determinate" value="100" ></mat-progress-bar>
</mat-card>

<mat-grid-list cols="8" gutterSize="10" >

  <mat-grid-tile colspan="4" rowspan="1">
        <mat-card >
          <mat-card-title>Contractor #1</mat-card-title>
        </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
   <mat-card>
      <mat-card-content>
        <img mat-card-image src="https://th.bing.com/th/id/OIP.axQ9WpnpbJ1fkxWF8mEZlgHaEv?pid=ImgDet&rs=1">
      </mat-card-content>
     <mat-card-footer>
       <mat-form-field>
         <mat-label>Add Comment</mat-label>
         <input matInput>
       </mat-form-field>
     </mat-card-footer>
   </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="2">
    <mat-card>
      <mat-card-content>
        Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
