<h1>Profile's Contractor</h1>
<mat-grid-list cols="4" rowHeight="150px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows">
    <mat-card>
      <mat-card-content>
        <img mat-card-image src="https://www.bing.com/images/blob?bcid=ToAVZmeLKF4DZQ" alt="Photo" height="250px">
      </mat-card-content>
      <mat-card-title>Classification</mat-card-title>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    *ngFor="let tile of contents"
    [colspan]="tile.cols"
    [rowspan]="tile.rows">
    <mat-card class="title">
      <mat-card-content>
        <mat-card-title>Contractor Name</mat-card-title>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    *ngFor="let tile of contents1"
    [colspan]="tile.cols"
    [rowspan]="tile.rows">
    <mat-card class="title1">
      <mat-card-title>Contractor Information</mat-card-title>
      <mat-card-content>
        <p>Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    *ngFor="let tile of contents2"
    [colspan]="tile.cols"
    [rowspan]="tile.rows">
    <button mat-raised-button color="primary">PROJECT HISTORY</button>
  </mat-grid-tile>
</mat-grid-list>
<button class="final" mat-raised-button color="black" routerLink="/searchContractor" routerLinkActive="active">BACK</button>

