
<mat-toolbar color="white">
  <mat-toolbar-row>

    <a mat-icon-button color="white"  (click)="drawer.toggle()">	<mat-icon>menu</mat-icon></a>
    <span>TeContrato</span>
    <span class="default-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container >
  <mat-drawer #drawer  mode="side" >
    <p><a mat-button>Principal</a></p>
    <p><a mat-button>Home</a></p>
    <p><a mat-button>Projects</a></p>
    <p><a mat-button>Configuration</a></p>
    <p><a mat-button>Log Off</a></p>
  </mat-drawer>
  <div >

  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>

