<h1>Hello Lenin, What do you want to do today?</h1>
<mat-grid-list cols="2" rowHeight="3:1" gutterSize="50">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Notifications</mat-card-title>
      <mat-card-content>
        <p>Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >SEE ALL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Who visited your profile?</mat-card-title>
      <mat-card-content>
        <p>Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >SEE ALL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Projects available</mat-card-title>
      <mat-card-content>
        <p>Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >SEE ALL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Projects almost finish</mat-card-title>
      <mat-card-content>
        <p>Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >SEE ALL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Messages</mat-card-title>
      <mat-card-content>
        <p>Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >SEE ALL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Last project listed</mat-card-title>
      <mat-card-content>
        <p>Body 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >SEE ALL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
